/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



/* Navigation header */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}


nav{
  position: absolute;
/*   background: rgba(255,255,255,.5); */
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
label.logo span{
  color: purple;
  font-size: 38px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 0px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: white;
  color: black;
  transition: 1s;
  border: 1px solid white;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}



/* HEADER SECTION */
#banner{
    background: url(wp3704715.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
}


.banner-text .hd-1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 10%;
}

.banner-text .hd-2{
    color: white;
    font-family: 'amaranth';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-left: -10%;
    font-stretch: expanded;
}

@media screen and (max-width: 600px){
    .banner-text .hd-1{
        font-size: 40px;
        text-align: center;
        padding-top: 60%;
    }
}




/* ABOUT SECTION */
.about{
    box-sizing: content-box;
    border: 1px solid white;
    background-color: #ddddda;
    margin-top: 5%;
    margin-bottom: 5%;
}

.abt-body{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.about-head{
		 font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    font-stretch: 10px;
    font-size: 30px;
    margin-bottom: 1%;
    color: #039be5;
}

.about-body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin: 0 3px 0 3px;
    font-size: 25px;
}

@media screen and (max-width: 600px){
    .about-head{
    				font-size: 25px;
    }
    .about-body{
        font-size: 20px;
    }
}


/* 	Pricing */
.about .abt-body .about-body a{
    display: inline-block;
    background: #039be5;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 22px;
    margin-top: 20px;
    margin-left: 45%;
    border-radius: 25px;
    border: 1px solid white;
    transition: all 0.3s ease;
}
.about .abt-body .about-body a:hover{
    color: #039be5;
    background: white;
    border: 1px solid white;
}

@media screen and (max-width: 600px){
				.about .abt-body .about-body a{
								margin-left: 40%;
				}
}



/* services */
* {
  box-sizing: border-box;
}


.services{
    margin: 5% 2% 5% 2%;
    height: 700%;
    border: 1px solid white;
    background-color: #ddddda;
}

.ser-head{
		 font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-stretch: 3px;
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 1%;
    color: #039be5;
}

.serv-body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 10px 3% 10px;
    font-size: 20px;
}

.ser-body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 10px 3% 10px;
    font-size: 20px;
    color: #039be5;
}


.service-head{
				font-weight: bold;
				font-size: 25px;
				color: #039be5;
}


.row .column .card i{
    font-size: 35px;
    color: #039be5;
    transition: color 0.3s ease;
}

/* Float four columns side by side */
.column{
  float: left;
  width: 33%;
  
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */

.card{
				padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
	border-radius: 5px;
  border: 3px solid white;
  }

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}







/* Contact Page */
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Poppins', sans-serif;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  border: 3px solid white;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10%;
}

/* Create two columns that float next to eachother */
.container .column {
  width: 100%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.container a{
    display: inline-block;
    background: #039be5;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 23px;
    margin-top: 20px;
    margin-left: 2%;
    border-radius: 25px;
    border: 2px solid white;
    transition: all 0.7s ease;
}
.container a:hover{
    color: #039be5;
    background: white;
    border: 1px solid black;
}

@media screen and (max-width: 600px){
				.container a{
								margin-left: 0%;
				}
}




/* Footer Section */
.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #039be5;
background-color: #ddddda;
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1%;
margin-bottom: 2%;
}

h2 {
font-weight: 400;
font-size: 18px;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 5 50%;
margin-left: 5%;
}

.box a {
color: black;
}

.box a:hover{
color: black;
text-decoration: underline;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: #999;
padding-top: 70px;
}



@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}






    
